.header {
    background: rgb(92, 99, 105);
    color: #f1f1f1;
    font-size: large;
    padding-left: 5%;
    padding-top: 1%;
    width: 100%;
    /* height: 15%; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

p
{
    padding: 5%;
}

html
{
    background-image: url("/vecteezy_horizontal-black-stone-texture-for-pattern-and-background_2223726.jpg");
    color: azure;
}

/* Stock photo link for free license */
.stocklink
{
    color: #f1f1f1;
}

/* Modified: Responsive List Layout (Flexbox vs Float vs Inline-Block)
    by Hector Guo https://codepen.io/hectorguo/pen/BoZEyW */
.container
{
    list-style:none;
    margin: 0;
    padding: 0;
}

.item
{
    background: slategray;
    padding: 5px;
    width: 250px;
    height: 150px;
    margin: 10px;
    
    /* line-height: 50px; */
    /* color: white; */
    /* font-weight: bold; */
    /* font-size: 3em; */
    /* text-align: center; */
}

.float
{
    max-width: 1200px;
    margin: 0 auto;
}

.float:after
{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.float-item
{
    float: left;
}
/* END--Hector Guo */

.inner
{
    color: azure;
    width: 10%;
    height: 20%;
    margin: 5%;
    /* border-spacing: 10px; */
}

.col
{
    padding: 0px;
}
.pic
{
    width: 100%;
    height: 100%;
}